// media queries
  
@media (max-width: 767px) {
    main {
      flex-grow: 0;
    }
    .hide-texto-m {
      display: none;
    }
    
    .banner-inicio {
      height: 400px;
    }
    .contenedor-formulario{
      form{
        textarea{
          height: 150px;
        }
        button{
          font-size: size(9);
        }
      }
    }
    header .enlaces-nav {
      display: inline-block;
      background-color:$primary-color;
      width: 100%;
    }
  }
 
  
  @media (max-width: 575px) {
    .hide-texto-s {
      display: none;
    }
    .texto-ofertas {
      font-size:size(5);
    }
    .texto-lugares {
      font-size:size(10);
      top: 160px;
    }
    
  }